<tr class="MissionsListBackground">
	<td class=" last" height="20" colspan="7"><a class="linkCell" href="{getLink page='prestataire' action="prestataire" params="id_identifiant="|cat:$prestataire->getId_identifiant() crypt="true"}"></a></td>
</tr>

<tr class="MissionsListBackground">
	{*hideSerach est appeler dans le cadre d'une propositoion mission aux favoris*}

	<td class="" align="center">
	    <input type="checkbox" value="{$prestataire->getId_profil()}" name="id_prestataire_profil[]">
	</td>

	<td class=" ">
		<a class="linkCell" href="{getLink page='prestataire' action="prestataire" params="id_identifiant="|cat:$prestataire->getId_identifiant() crypt="true"}">
		<p>{$prestataire->getNom()}</p>
		</a>
		

	</td>
	
	<td class="" align="">
		<a class="linkCell" href="{getLink page='prestataire' action="prestataire" params="id_identifiant="|cat:$prestataire->getId_identifiant() crypt="true"}">
		<p>
		{$prestataire->getPrenom()}
		</p>
		</a>
	</td>
	
	<td class="" align="">
		<a class="linkCell" href="{getLink page='prestataire' action="prestataire" params="id_identifiant="|cat:$prestataire->getId_identifiant() crypt="true"}">
		<p>
		{$prestataire->getEntreprise()}
		</p>
		</a>
	</td>
	
	<td class=" " align="">
		<a class="linkCell" href="{getLink page='prestataire' action="prestataire" params="id_identifiant="|cat:$prestataire->getId_identifiant() crypt="true"}">
		<p>
		{$prestataire->getEmail()}
		<br>
		{$prestataire->getStandard(true)}
		</p>
		</a>
		
	</td>
	
	<td  align="">
		<a class="linkCell" href="{getLink page='prestataire' action="prestataire" params="id_identifiant="|cat:$prestataire->getId_identifiant() crypt="true"}">
		<p>
		{$prestataire->getUpdate()}
		</p>
		</a>
		
	</td>
	
	<td class=" last" align="center">
		<div class="btn-group group-link ">
			<a class="btn btn-primary dropdown-toggle white" href="#" data-toggle="dropdown"><i class="icon-tasks icon-white"></i> Actions</a>
			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li>
					<a href="{getLink page='prestataire' action="prestataire" params="id_identifiant="|cat:$prestataire->getId_identifiant() crypt="true"}">
						
						    <i class="icon-user icon-white "></i>
						    Accéder à la fiche du prestataire
					
					</a>
				</li>
			</ul>
		    </div>
	</td>
	
</tr>

<tr class="MissionsListBackground">
	<td class=" last" height="20" colspan="7"><a class="linkCell" href="{getLink page='prestataire' action="prestataire" params="id_identifiant="|cat:$prestataire->getId_identifiant() crypt="true"}"></a></td>
</tr>

<tr>
	
	<td colspan="7" style="height: 1px;" class="last MissionsListActions"></td>
</tr>


