<tr class="MissionsListBackground">
	<td height="20" colspan="6" class="last"><a class="linkCell" href="{getLink page="response" params="id_mission_reponse="|cat:$reponse->getId_reponse()|cat:"&id_mission="|cat:$reponse->getId_mission() crypt="true"}"></a></td>
</tr>

<tr class="MissionsListBackground">
	

	<td class="">
		<a class="linkCell" href="{getLink page="response" params="id_mission_reponse="|cat:$reponse->getId_reponse()|cat:"&id_mission="|cat:$reponse->getId_mission() crypt="true"}">
		<h4 class="blue">{$reponse->getStatut()->statut}</h4>
		<p>{$reponse->getReponse()|truncate:200}</p>
		</a>
		
	</td>
	
	<td class="" align="center">
		<a class="linkCell" href="{getLink page="response" params="id_mission_reponse="|cat:$reponse->getId_reponse()|cat:"&id_mission="|cat:$reponse->getId_mission() crypt="true"}">
		<p>{$reponse->getTarif(true)}</p>
		</a>
	</td>
	
	<td class="" align="center">
		<a class="linkCell" href="{getLink page="response" params="id_mission_reponse="|cat:$reponse->getId_reponse()|cat:"&id_mission="|cat:$reponse->getId_mission() crypt="true"}">
		<p>{$reponse->getDate()}</p>
		</a>
	</td>

	<td class="" align="center">
		<a class="linkCell" href="{getLink page="response" params="id_mission_reponse="|cat:$reponse->getId_reponse()|cat:"&id_mission="|cat:$reponse->getId_mission() crypt="true"}">
		<p>{$reponse->getNom()} {$reponse->getPrenom()}  </p>
		</a>
	</td>

	<td class=" last" align="center">
		<a class="linkCell" href="{getLink page="response" params="id_mission_reponse="|cat:$reponse->getId_reponse()|cat:"&id_mission="|cat:$reponse->getId_mission() crypt="true"}">
		<p class="padding-left-10 padding-right-10">
		{$reponse->getTitre()}
		</p>
		</a>
	</td>
	
	<td class=" last" align="center">
		<div class="btn-group group-link ">
			<a class="btn btn-primary dropdown-toggle white" href="#" data-toggle="dropdown"><i class="icon-tasks icon-white"></i> Actions</a>
			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li>
					<a href="{getLink page="response" params="id_mission_reponse="|cat:$reponse->getId_reponse()|cat:"&id_mission="|cat:$reponse->getId_mission() crypt="true"}">
						
						    <i class="icon-user icon-white "></i>
						   Accéder à la fiche de la réponse
					
					</a>
				</li>
			</ul>
		    </div>
	</td>


</tr>


<tr class="MissionsListBackground">
	<td height="20" colspan="6" class="last"><a class="linkCell" href="{getLink page="response" params="id_mission_reponse="|cat:$reponse->getId_reponse()|cat:"&id_mission="|cat:$reponse->getId_mission() crypt="true"}"></a></td>
</tr>

<tr>
	
	<td colspan="6" style="height: 1px;" class="last MissionsListActions"></td>
</tr>

