/*!
 * self-construct
 */
/*
 *Modification Projet
 */
.ligneEntry{
  height:35px;
  line-height: 35px;
}
.ligneEntry > a{
  margin-right: 5px;
}
/*
 *Missions
 */

/*!
 * CV
 */
.CV{
  margin-top: 20px;
}
.CVHeader{
  background: #ffffff;
  height: 90px;
  border-bottom: 1px solid #d8d8d8;
}
.CVHeaderPourcent{
  color: #0866C6;
  font-size: 30px;
  padding-top: 30px;
  padding-left: 30px;
}
.CVHeaderBar{
  padding-left: 15px;
  margin-top: 20px;
  margin-right: 15px;
}
.CVHeaderButton{
  height: 45px;
  margin-top: 23px;
  margin-left: 20px;
  background: #00c8c8;
  color: #ffffff;
}
.CVTab{
  margin-bottom: 0;
}
.CVTabPane{
  background: transparent;
}


.CVTexte{
  color: #555555;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #dadada;
  font-weight: 600;
}
.CVTitleModificationh2 {
  font-size: 16px;
  font-weight: 400;
}
.CVNav{
  height: 40px;
  border-top-right-radius: 5px;
}
.CVTab > li > a{
  color: #a0a0a0;
  background: #d9d9d9;
}
.CVTab > li{
    border-bottom: 0px;
}
.CVTab > .active > a{
    color: #0866C6;
    text-align: center;
}

.CVTab  a span.libelle{
    line-height: normal;
    display: inline-block;
}

.CVTab > .active > a span.libelle{
    display:none;
}

.CVNewCompetenceLvl{
  background: #eeeeee;
  height: 40px;
  margin-bottom: 15px;
}

.GraphNiveauCompetence{
  font-size: 35px;
  padding-top: 10px;
}
.PointCompetence{
  height:20px;
  width:20px;
  background:#cccccc;
}
.PointCompetenceActive{
  height:20px;
  width:20px;
  background: #0866C6;
}
.GraphNiveauCompetence > div > a{
  color: #989898;
}
.listFormation{
  margin-bottom: 15px;
  background: none repeat scroll 0 0 #EEEEEE;
}

.listFormationItemButton{
  background: #cccccc;
  height: 35px;
  padding-top: 5px;
  font-size: 14px;
}
.CVButton{
  height: 35px;
  margin-top: 23px;
  margin-bottom: 15px;
  margin-left: 20px;
  background: #00c8c8;
  color: #ffffff;
}
.HeaderButtonValid{
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  background: #00c8c8;
  color: #ffffff;
}
.HeaderFormLabel{
  line-height: 50px;
  text-align: center;
}


/*!
 * Mon Compte
 */
.monCompteDroite{
  background: #ffffff;
  padding: 10px;
}
.homeDroiteTitle{
  margin: 20px 0;
}
.monCompteText{
  background: #f0f0f0;
  height: 35px;
  margin-bottom: 5px;
  line-height: 35px;
  padding: 0 15px;
}

.compteTitleModificationh2 {
  margin-top: 0px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  border-top: 1px dashed #dcdcdc;
  margin-top: 20px;
  padding-top: 20px;
}
.headerFormModification{
  border: 1px solid #d1d1d1;
  margin-right: 5px;
  height:30px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.floatLeft{
  float:left;
}

.headerFormModificationTxtArea{
  border: 1px solid #d1d1d1;
  margin-right: 5px;
  height:120px;
  color: #555555;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  resize: none;
}


.formModificationTxtArea{
  border: 1px solid #d1d1d1;
  margin-right: 5px;
  height:120px;
  color: #555555;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  resize: none;
}
.photoMonCompte{
  margin-bottom: 10px;  
}
.formMonCompteText{
  color: #555555;
  font-size: 14px;
}
/*!
 * HP
 */
.headerImg{
  max-width:none;
}

.headerProfil2 > a{
  color: #ffffff;
}
.headerProfilDeco{
  position: absolute;
  top: 10px;
  right: 10px;
  
}
.headerPhoto{
  max-height:85px;
}
.headerProfil2{
  padding-top: 10px;
}
.headerProfilNom{
  font-weight:500;
}
.formHp{
  border:0px;
}
.fond{
  background: #778a9c;
  height:1000px;
}
.menuVertical{
  background:#444f59;
  height: 1000px;
  overflow: hidden;
    white-space: nowrap;
  /*position: fixed;*/
}
.menuVertical li{
  display: block;
}
.menuVertical > ul > li > a{
  color: #ffffff!important;
  line-height: 35px;
}
 .menuVertical > ul > .actif{
  background-color: #0866C6;
  font-weight: 600;
}


.menuVertical > ul >li:last-child{
  margin-top:15px;
  border: none;
}
.corps{
  margin-top:115px;
  background: #eeeeee;
}
.homeDroite{
  /*position: relative;
  left: -20px;*/
  padding: 0 20px;
}
.homeDroiteSearch{
  height: 50px;
  border:0px;
}
.homeDroiteForm{
  background: #e4e4e4;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom: 1px solid #d8d8d8;
}
.datepicker > input{
  height:33px;
}
.datepicker > input.headerForm{
  height:40px;
  margin-top:5px;
}
.homeDroiteForm > .homeDroiteForm2 > input{
  margin-left: 5px;
  margin-right: 5px;
}
.homeDroiteTitle{
  font-size: 33px;
font-weight: 400;
color: #858585;
}
.DashboardDroitInfoCV{
  background: #ffffff;
  height: 300px;
  margin-bottom: 20px;
  font-size: 19px;
  text-align: center;
  padding-top: 20px;
  color: #858585;
}




.collapsed{
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-borer-top-right-radius: 5px;
  color: #868c92;
}
.white{
  color: #eefcfc!important;
}
.buttonCollapseMore{
     background: none repeat scroll 0 0 #0866C6;
    border: 0 none;
    color: #FFFFFF;
    height: 35px;
    text-align: center;
    width: 235px;
}

#client .buttonCollapseMore{background-color: #ff786a;}

.collapseOffre{
  padding-left: 20px;
}



.buttonContact{
  border: 0px;
  background: #0866C6;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}

.buttonImportCV > p{
  font-size: 10px;
  text-align: left;
  margin-left:30px;
  line-height: 12px;
}


.accordion2Footer{
  background:#f9f9f9;
  margin:10px;
  height: 30px;
  padding-left: 15px;
}
.zonefooter{
  height:286px;
  background-color:#333333;
  color:#5d6974;
  
}
.footerlogo{
  padding-left:20px;
  padding-top:20px;
}
.footerlist{
  padding-top:20px;
}
.footerlist > ul > li{
  list-style-image: url('../img/chevronGris.png');
  padding-top: 5px;
}
.footerlist > ul > li > a{
  color:#5d6974!important;
}
.footerlist > ul > li > a:hover{
  color: #0866C6;
}
.blue{
  color:#0866C6;
}

#client .blue {color: #ff786a;}

footer{
  background-color:#252525;
  color:#5d6974;
  height: 54px;
  
}
.copyright{
  padding-top: 17px;
  padding-left: 20px;
}
.socialfooter{
  text-align: right;
  padding-top: 11px;
  padding-right: 10px;
}

.navbar-inverse .navbar-inner {
  background: #0866C6;
}

#client .navbar-inverse .navbar-inner {
  background: #ff786a;
}

/* -------------------------------------
  -------------- LES TITRES ------------------
  ------------------------------------ */
h1{ font-size: 19px; font-weight: 400; line-height: normal;}

h2{color: #666;margin-top: 0px;font-size: 15px;font-weight: 500;line-height: normal;border:none;  padding: 0;}

h2.red{margin: 0;  color: #ff786a; margin-top: 0px;font-size: 15px;font-weight: 500;line-height: normal;border:none;  padding: 0;}

hr.pointille{border-style: dashed !important;}

/* -------------------------------------
  -------------- MARGES - PADDING - COLOR ------------------
  ------------------------------------ */

 #header{border-top:5px solid #4e7ebc;}
#header h1{font-size: 16px; line-height: 0!important;color: white;}

#header ul.nav {margin-left:20px;border-left:1px solid #4E7EBC;}
#header ul.nav li {position: relative; }
 #header ul.nav li .round-count{-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;background-color: #b5f5f5; color: #0866C6;display: block;height: 20px;line-height: 20px;position: absolute;  right: 10px;text-align: center;top: 10px;width: 20px;}

#header ul.nav li a{ background-color: #4e7ebc;display: block;height: 85px;padding-top: 15px;width: 110px; text-align: center; color: #FFF; font-weight: bold;border-right: 1px solid #0866C6}

  #header ul.nav li a.active{ background-color: #0866C6;}

#header ul.nav li a .text{padding-top:10px; display: block;}
#header ul.nav li a .projectIco{width: 50px; height: 50px; background-image: url('../img/ico/ico_sprite_header.png'); background-repeat: none; display: block; margin: auto;}
#header ul.nav li a .propositionIco{width: 50px; height: 50px; background-image: url('../img/ico/ico_sprite_header.png'); background-repeat: none; background-position:100px top ; display: block; margin: auto;}
#header ul.nav li a .mailIco{width: 50px; height: 50px; background-image: url('../img/ico/ico_sprite_header.png'); background-repeat: none; background-position:50px top;display: block; margin: auto;}
#header .img-polaroid{padding:1px!important;}

 .headerProfil{margin-top:10px;background:#4e7ebc;color: #ffffff; height:90px;overflow: hidden;position: relative;}

.homeDroiteForm{margin: 0;}
.toggle{cursor: pointer; background-color: #2f3840; height: 20px; background-image: url('../img/ico/ico_arrow_toggle.png'); background-position: center right; background-repeat: no-repeat;}
.toggleClose{background-image: url('../img/ico/ico_arrow_toggle_close.png'); }

.menuVertical li{border-bottom:1px #626f7a solid;}
.menuVertical .text-center > a {
    float: left;
    margin: 5px;
}

.menuVertical .text-center { padding: 0 5px;}

/* -------------------------------------
  --------------  BLOC HOME CV ------------------
  ------------------------------------ */
.monCompteDroite{text-align: left!important;}
.text-center{text-align: center!important;}
.DashboardDroitInfoCVJpeg, .DashboardDroitInfoProposition, .DashboardDroitInfoContact, .monCompteDroite{ background: #ffffff; margin-bottom: 20px;text-align: center;padding:  10px;   color: #858585;}
.DashboardDroitInfoCVPourcentage{color: #0866C6;font-size: 60px;font-family: Raleway; font-weight: 200; line-height: normal;}
.buttonImportCV{text-align: left;border: 0px;border: 1px solid #00a4a4; padding: 10px; background-image:url('../img/bg/bg_button_green.jpg'); color: #FFF; background-repeat: repeat-x; background-position: top;}
.buttonImportCV .higher{font-size: 19px;}

.monCompteDroite{}
.monCompteDroite >h1{text-align: left !important; margin-top: 0;}
.monCompteDroite h2{margin-top: 0px;font-size: 15px;font-weight: 500;line-height: normal;border:none;   margin: 0 0 10px; padding: 0;}
/* -------------------------------------
  --------------  BLOC HOME ASTUCE ------------------
  ------------------------------------ */
.astuceCV{background: #f4f4f4; margin-bottom: 0; background-image: url('../img/bg/bg_stars_home.png'); background-position: 30px center; background-repeat: no-repeat; border: 1px solid #cfcfcf;padding: 20px 10px 20px 70px;text-align: left;olor: #858585;}
.astuceCV .higher{font-size: 19px;}

/* -------------------------------------
  --------------  BLOC HOME SUIVI ------------------
  ------------------------------------ */
.DashboardDroitInfoProposition > .DashboardDroitInfoPropositionP{height: 35px;line-height: 35px;border-bottom: 1px solid #fff;color: #858585!important;}
.DashboardDroitInfoProposition > h1 {margin-bottom: 20px;}
.DashboardDroitInfoProposition > .DashboardDroitInfoPropositionP a{color: #858585!important;}
.buttonProjetSaved{margin-top: 10px; text-align: center;border: 0px; line-height: 30px;border: 1px solid #00a4a4;background-image:url('../img/bg/bg_button_blue.jpg'); color: #FFF!important; background-repeat: repeat-x; background-position: top;}
.PText{background: #f3f3f3;text-align: left;padding-left: 5px;}

 .PCounter{background: #0866C6; color: #ffffff;}

/* -------------------------------------
  --------------  BLOC HOME CONTACT ------------
  ------------------------------------ */
.DashboardDroitInfoContact > h1 {margin-bottom: 20px; line-height: 35px; height: 35px; text-align: left;}
.DashboardDroitInfoContact{text-align: left;}



/* -------------------------------------
  --------------  ICONES ------------------
  ------------------------------------ */
/* -------------------------------------
  --------------  ICONES ------------------
  ------------------------------------ */
.accordion-toggle .ico35.button{position: absolute;right: 10px;top: 5px;}
.accordion-toggle.collapsed .ico35.button{background-position: -175px 70px;}
.accordion-heading h1{font-size: 20px;font-weight: lighter;height: 35px;line-height: 35px; margin: 0;color:#fff!important;}

/* -------------------------------------
  --------------  MISE EN PAGE DES RECHERE ------------------
  ------------------------------------ */
table.mission td{border-right:1px solid #d8d8d8;}
table.mission td.last{border-right:none; line-height: 35px;}
table.mission h4{margin-top: 0;}

.mission > thead  >.first{padding-left:25px; }
.mission > thead  > .last{padding-right:25px; }

.MissionsListBackground{background: #ffffff;padding:0 15px;}
.MissionListHeader{background: none repeat scroll 0 0 #868C92;color: #FFFFFF; font-weight: 500;height: 35px;}
.MissionsListEntete{background: none repeat scroll 0 0 #0866C6;color: #FFFFFF; font-weight: 200;height: 35px; text-align: left;}
.MissionsListLocalite{padding-top: 45px}
.MissionsListTarif{padding-top: 45px;}
.MissionsListDate{ padding-top: 35px;}
.MissionsListReponse{padding-top: 45px;}
.MissionsListActions{background: #f9f9f9;height: 35px;font-weight: 600;margin-top: 10px;color: #555555;}
.MissionsListActions > a{ color: #555555!important; margin-right: 25px;}
.MissionsListActions  span {color: #555555!important;height: 35px;line-height: 35px;display: block;}
.MissionsListPagination{height:30px;color: #0866C6;background: #ffffff;text-align: center;margin-top: 15px; border-top:10px solid #EEEEEE}
.MissionsListPagination > a{ color: #555555!important;}

h1.result{font-size: 23px; color: #555555; font-weight: 200; line-height: 23px; padding: 20px 0; margin: 0;}

/* -------------------------------------
  --------------  MISE EN PAGE DES APERCU PROFIL ------------------
  ------------------------------------ */
.CVThequeListeHeader{
  background: #868c92;
  color: #ffffff;
  height: 35px;
  line-height: 35px;
  font-weight: 500;
  padding: 0 15px;
}

.CVThequeProfilContainer{
    padding:10px;
}

.CVThequeListeActions{
  background: #f9f9f9;
  padding-left: 10px;
  height: 35px;
  font-weight: 600;
  color: #555555;
}

.CVThequeListeActions > span > a{
  color: #555555;
  height: 35px;
  line-height: 35px;
  display: block;}
 
 /* -------------------------------------
  --------------  MON COMPTE  ------------------
  ------------------------------------ */
 #realisation {margin: 0; padding:0; background-color: #FFF; padding: 20px;} 
 #realisation li .inner{border: 1px solid #CCC; background-color: #fff; padding: 10px; margin: 5px; text-align: center;}

 #realisation  textarea{height: 80px;}
#realisation ul{margin: 0; padding: 0;}
.mediaWrapper {

}

.mediaWrapper p:first-child {
    margin-top: 0;
}
.imgpreview {
    max-width: none;
}

.mediaWrapper .span12 p{
    padding-top:10px;
}
.imgdetails {padding:10px; margin: 0;}
.imginfo {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
}

.imginfo .span12{
    padding: 20px;
}
.imgdetails label {
    display: block;
    margin-bottom: 2px;
    
}
.imgdetails input.file, .imgdetails textarea, .modal-body input.file {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #BBBBBB;
    padding: 7px 5px;
    width: 340px;
}

.mediaWrapper h1 { font-size: 19px;
color:#555555;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 10px;
    padding: 0;
   }
 /* -------------------------------------
  --------------  CV  ------------------
  ------------------------------------ */
 #tabCV li {top:11px;position: relative;}
 #tabCV li a {line-height: 35px !important;color: #a0a0a0 !important;}
 #tabCV li a img{margin-right:5px;}
 
  #tabCV li a.CVNav:hover{color:#fff !important;}
 
 #tabCV li.active{top:0 !important}
 #tabCV li.active a.CVNav{color: #CCC;height: 50px;}
 zz#tabCV li.active a.CVNav img{position: relative; left: 40px;top:5px}
 
.FormButton{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
 
 .CV .tab-content{background: url('../img/bg/bg_corner_cv.png') no-repeat right top scroll #fff; padding-right:20px;overflow: visible;}
 
 /* -------------------------------------
  --------------  BORDER  ------------------
  ------------------------------------ */
.border{
    padding-left: 10px;
    border-left: 1px solid #dcdcdc;
    margin-top: 30px;
}
/* -------------------------------------
  --------------  BUTTONS  ------------------
  ------------------------------------ */
.btn{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn-secondary{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    line-height: 15px !important;
}

.btn-third{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
/* -------------------------------------
  -------------- STYLED SELECT ------------------
  ------------------------------------ */
.styled-select {
   height:30px;
   border: 1px solid #d1d1d1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-image: url('../img/formFlecheBas.png');
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
  
}

.styled-select select {
   background:transparent;
   line-height: 30px;
   border: 0 !important;
   height: 30px;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* -------------------------------------
  -------------- WYSIWYG ------------------
  ------------------------------------ */

.redactor_wysywyg{border: 1px solid #BBB;}