/*!
 * WEME v 5
 *
 * Copyright keyRIUM, Inc
 * 
 *
 */

.clear{clear: both;}
.inline-block{display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;}
.min-height{min-height:600px;background-color:#fff;}

.monCompteDroite h1{margin: 0; margin-bottom: 20px;}

/* -------------------------------------
  -------------- HEADER ------------------
  ------------------------------------ */
ul.nav div.headerbar1 li {border-left:1px solid #fff;margin-left:25px;padding-left:25px}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret{border-bottom-color: #FFFFFF;border-top-color: #FFFFFF;left: 10px;position: relative;top: 4px;}

.headerbar2 ul.nav{margin-right:0 !important;}
.headerbar2 ul.nav li{height:50px;}
.headerbar2 ul.nav li a{font-size:14px;}
.headerbar2 li.span2{background-color:#505962;}
.headerbar2 li.span2 a{top:-5px;position: relative;}
.headerbar2 li.span2 a img{top:-5px;margin-right: 5px; position: relative; top: -5px;}

.headerbar2 .navbar-form{background-color:#444f59;}
.headerbar2 .navbar-form .btn {height: 50px;}

.headerbar2 .navbar-form .btn{background-color: #444f59 !important;}

.headerbar2 #headerbar2-rightBackground{width: 25%; height:50px;position: absolute;top: 0;right: 0;background-color:#444f59; }

/* -------------------------------------
  --------------  BUTTONS  ------------------
  ------------------------------------ */
.btn{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn-secondary{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;  
}

.btn-third{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

/* -------------------------------------
  -------------- HOME ------------------
  ------------------------------------ */
.bgpanel0 {
	width:43px;
	height:100%;
	float:left;
	cursor:pointer;
        background-image: url("../img/bgpanel0.png");
}

#accordion .panelContent h3{margin-top:0;}
.zonepartenaire .colpartenaire h4{margin: 0;padding:15px; margin: 10px 0;border-right: 1px solid #333;}

/* -------------------------------------
  -------------- FOOTER ------------------
  ------------------------------------ */
.footerlist h2{margin:5px 0;font-weight: lighter;position: relative;top: 4px;left: 10px;}
.footerlist .decalage{margin-left: 60px;}

/* -------------------------------------
  -------------- INSCRIPTION ------------------
  ------------------------------------ */
.inscription{font-size:14px;}
.inscription p{margin-bottom:20px;}

/* -------------------------------------
  -------------- STYLED SELECT ------------------
  ------------------------------------ */
.styled-select {
   height:40px;
   border: 1px solid #d1d1d1;
  margin-right: 5px;
  padding-right:20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-image: url('../img/formFlecheBas.png');
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
  
}

.styled-select select {
   background:transparent;
   padding: 5px;
   border: 0 !important;
   height: 40px;
}

/* -------------------------------------
  --------------  FILTRE ------------------
  ------------------------------------ */
#filter{position: relative;}
.search .homeDroiteSearch{ background-image: url("../img/ico/ico_search.gif");background-position: 20px center;background-repeat: no-repeat;color: #C6C6C6;  font-size: 25px;font-weight: lighter;height: 80px;padding-left: 70px;text-transform: uppercase;}
#filter .span3{text-align: right; padding-right:10px;  font-size: 13px; line-height: 30px;}
#filter .submit{position: absolute; top: 0; left:0;border-right: 1px solid #c0c0c0; }
#filter .border-right-1{border-right: 1px solid #c0c0c0; padding: 5px 0;}
#filter .border-right-1.last{border-right: none!important; padding: 5px 0;}

/* -------------------------------------
  --------------  MISE EN PAGE DES MISSIONS ------------------
  ------------------------------------ */
table.mission td.span4, table.mission td.span2{border-right:1px solid #d8d8d8;}
table.mission td.last{border-right:none;}
table.mission h4{margin-top: 0;}

.mission > thead  >.first{padding-left:25px; }
.mission > thead  > .last{padding-right:25px; }

.MissionsListBackground{background: #ffffff;padding:0 15px;}
.MissionListHeader{background: none repeat scroll 0 0 #868C92;color: #FFFFFF; font-weight: 500;height: 35px;}
.MissionsListLocalite{padding-top: 45px}
.MissionsListTarif{padding-top: 45px;}
.MissionsListDate{ padding-top: 35px;}
.MissionsListReponse{padding-top: 45px;}
.MissionsListActions{background: #f9f9f9;height: 35px;font-weight: 600;margin-top: 10px;color: #555555;}
.MissionsListActions > span > a{color: #555555;height: 35px;line-height: 35px;display: block;}
.MissionsListPagination{height:30px;color: #00cccc;background: #ffffff;text-align: center;margin-top: 15px;}
.MissionsListPagination > a{ color: #555555;}

h1.result{font-size: 23px; color: #555555; font-weight: 200; line-height: 23px; padding: 20px 0; margin: 0;}
h1.result b{color: #00CCCC; }

h2.red{margin: 0;  color: #ff786a; margin-top: 0px;font-size: 15px;font-weight: 500;line-height: normal;border:none;  padding: 0;}
/* -------------------------------------
  --------------  MISE EN PAGE DES APERCU PROFIL ------------------
  ------------------------------------ */
.CVThequeListeHeader{
  background: #868c92;
  color: #ffffff;
  height: 35px;
  line-height: 35px;
  font-weight: 500;
  padding: 0 15px;
}

.CVThequeProfilContainer{
    padding:10px;
}

.CVThequeListeActions{
  background: #f9f9f9;
  margin: 10px;
  height: 35px;
  font-weight: 600;
  color: #555555;
}

.CVThequeListeActions > span > a{
  color: #555555;
  height: 35px;
  line-height: 35px;
  display: block;}
 
.CvListPagination{
    color: #00cccc;background: #ffffff;text-align: center;margin-top: 15px;
}
table.cv td{border-right:1px solid #d8d8d8;padding-right: 5px;}
table.cv td.last{border-right:none;}
 
