<div class="container row-fluid corps">
    {include file='web/tpl/prestataire/template/menu.tpl'}

    
    <div id="page404" class="">        
	<h1>NO PANIC...<br>YOU JUST GOT</h1>
	<h2>404</h2>
	<p>{$message}</p>
    </div>
</div>

