<div class="container-fluid row-fluid corps">
    {include file='web/tpl/prestataire/template/menu.tpl'}
    
<div class="span10 row-fluid homeDroite">
	    
	    
	     <div class="monCompteDroite  margin-top-20">
	    <h1>{$trad->titreMention}</h1>
	    
	    <div>
		
		{$trad->descriptionCorps}
		
	    </div>
	     </div>
</div>

<div class="clearfix"></div>
