<div id="video_entretien" class="relative" style="border:1px solid #009BDC ;position:fixed; top:100px; left: 300px; z-index:2000;background-color:rgba(0,0,0,0); height:500px;">
    <p class="move padding-10 gras margin-0"  style="cursor:move;background-color:#FF786A">
    
    <a  class=" closeCam orange" data-IdSession="{$idSession}" class="closeCam orange" style="position:absolute; top: 10px; right:15px;font-weight:bold;color:#ffffff"><img src="/web/img/ico/ico_close.png"/></a>
    
    </p>
        <object id="weme_video_conf" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="720" height="480" style="background-color:rgba(0,0,0,0)" >
    <param name="movie" value="/web/swf/entretiens/video_entretien.swf" />
    <param name="wmode" value="transparent" />
    <param name="flashvars" value="session={$session}&user_type={$user_type}" />
    <param name="allowScriptAccess" value="always" />
    <!--[if !IE]>-->
    <object  type="application/x-shockwave-flash" data="/web/swf/entretiens/video_entretien.swf" width="720" height="480" style="background-color:rgba(0,0,0,0)">
         <param name="wmode" value="transparent" />
         <param name="flashvars" value="session={$session}&user_type={$user_type}" />
         <param name="allowScriptAccess" value="always" />
    <!--<![endif]-->
      <p>Alternative content</p>
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
    </object>
</div>