/* -------------------------------------
-------------- MARGES ------------------
------------------------------------ */
.smallText{font-size:11px;}
.black, a.black{color:#333333!important;}
.blue{
  color:#00cccc !important;
}
.red{
  color: #ff786a;
}
.greyLight{
  color: #ccc;
}
.pointer{cursor: pointer;}
/* -------------------------------------
-------------- MARGES ------------------
------------------------------------ */
.margin-0{margin:0px !important;}
.margin-right-0{margin-right:0px !important;}
.margin-left-0{margin-left:0px !important;}
.margin-bottom-0{margin-bottom:0px !important;}
.margin-top-0{margin-top:0px !important;}

.margin-5{margin:5px !important;}
.margin-right-5{margin-right:5px !important;}
.margin-left-5{margin-left:5px !important;}
.margin-bottom-5{margin-bottom:5px !important;}
.margin-top-5{margin-top:5px !important;}

.margin-10{margin:10px !important;}
.margin-right-10{margin-right:10px !important;}
.margin-left-10{margin-left:10px !important;}
.margin-bottom-10{margin-bottom:10px !important;}
.margin-top-10{margin-top:10px !important;}

.margin-15{margin:15px !important;}
.margin-right-15{margin-right:15px !important;}
.margin-bottom-15{margin-bottom:15px !important;}



.margin-right-25{margin-right:25px !important;}

.margin-20{margin:20px !important;}
.margin-right-20{margin-right:20px !important;}
.margin-left-20{margin-left:20px !important;}
.margin-bottom-20{margin-bottom:20px !important;}
.margin-top-20{margin-top:20px !important;}

.margin-top-30{margin-top:30px !important;}

/* -------------------------------------
-------------- PADDING ----------------
------------------------------------ */
.padding-0{padding:0px !important;}

.padding-5{padding:5px !important;}
.padding-left-5{padding-left:5px !important;}
.padding-top-5{padding-top:5px !important;}

.padding-10{padding:10px !important;}
.padding-right-10{padding-right:10px !important;}
.padding-left-10{padding-left:10px !important;}
.padding-bottom-10{padding-bottom:10px !important;}
.padding-top-10{padding-top:10px !important;}

.padding-right-15{padding-right:15px !important;}

.padding-20{padding:20px !important;}
.padding-bottom-20{padding-bottom:20px !important;}
.padding-top-20{padding-top:20px !important;}
.padding-right-20{padding-right:20px !important;}
.padding-left-20{padding-left:20px !important;}

.border-radius-6{-webkit-border-radius: 6px !important;-moz-border-radius: 6px !important;border-radius: 6px !important;}
  
  
/* -------------------------------------
--------------- COLORS ----------------
------------------------------------ */
.white{color:#FFF;}


/* -------------------------------------
--------------- BACKGROUND COLORS ----------------
------------------------------------ */
.bgWhite{background-color:#fff;}
.bgOrange{background-color:#FF6539;}


/* -------------------------------------
--------------- ICO ----------------
------------------------------------ */
span.ico35, a.ico35{display: block;background-image: url("../img/ico/ico_sprite_35_green.png");background-position: 0 0;height: 35px;width: 35px;}
.client span.ico35, .client a.ico35{background-image: url("../img/ico/ico_sprite_35_red.png")}
span.ico20, a.ico20{display: block;margin-right:10px; background-image:url("../img/ico/ico_sprite_btn_fourth_green.png");background-position: 0 0;height: 20px;width: 20px;}
.client span.ico20, .client a.ico20{background-image: url("../img/ico/ico_sprite_btn_fourth_red.png")}

.ico35.edition{background-position:175px 35px;float:left;}
.ico35.duplicate{background-position:205px 35px;float:left;}
.ico35.close, .ico35.cloturer{background-position:140px 70px; float:left;}
.ico35.stopMail{background-position:105px 140px;float:left;}
.ico35.startMail{background-position:105px 105px;float:left;}
.ico35.republish{background-position:140px 175px;float:left;}
.ico35.pause{background-position:-315px 70px;float:left;}
.ico35.archive{background-position:-35px 140px; float: left;}
.ico35.tchat{background-position:-285px 140px; float: left;}
.ico35.cam{background-position:-215px 140px; float: left;}
.ico35.pdf{background-position:-215px 105px; float: left;}
.ico35.envelop{background-position: -75px 140px; float: left;}
.ico35.project{background-position: 385px 105px; float: left;}
.ico35.responses{background-position: 385px 70px; float: left;}
.ico35.return{background-position:0 140px; float: left;}
.ico35.save{background-position:350px 140px; float: left;}
.ico35.detail{background-position:-245px 105px; float: left;}
.ico35.delFav{background-position:-245px 70px; float: left;}
.ico35.addFav{background-position:-245px 175px; float: left;}
.ico35.friend{background-position:-245px 140px; float: left;}
.ico35.mail{background-position:280px 175px; float: left;}
.ico35.contact{background-position:0 105px; float: left;}
.ico35.mail-2{background-position:310px 35px;float:left;}
.ico35.cadenas{background-position:86px 35px;float:left;}
.ico35.crayon{background-position:26px 0;float:left;}
.ico35.removeItem, .ico35.removeLoc{background-position:-170px 35px;float:left;}
.ico35.question{background-position:385px 0;}
.ico35.filter{background-position:140px -70px;float:left;}


.ico35.eye{background-position: 315px 70px; float: left;}
.ico35.calendar{background-position:280px 140px; float: left;}
.ico35.paper{background-position:315px 105px; float: left;}
.ico35.zoom{background-position:420px 70px; float: left;}
.ico35.buddy{background-position:350px 70px; float: left;}
.ico35.webcam{background-position:280px 105px; float: left;}

.ico35.pencil{background-position:-320px 175px; float: left;}
.ico35.transfert{background-position:-355px 175px; float: left;}
.ico35.supfav{background-position:-355px 140px; float: left;}
.ico35.addfav{background-position:-355px 140px; float: left;}

.ico20.addfav{background-position:40px 0px; float:left;}
.ico20.supfav{background-position:20px 0px; float:left;}
.ico20.transfert{background-position:60px 0px; float:left;}
.ico20.edit{background-position:0px 0px; float:left;}

.ico20.backresponse{background-position:40px 0px; float:left;}
.ico20.mailme{background-position:60px 0px; float:left;}
.ico20.archive{background-position:0px 0px; float:left;}
.ico20.editC{background-position:20px 0px; float:left;}

span.ico50{display: block;background-image: url("../img/ico/ico_sprite_50.png");background-position: 0 0;height: 50px;width: 50px;}
.ico50.cv50{background-position:105px 140px; float: left;}

/* -------------------------------------
--------------- ICO ----------------
------------------------------------ */
span.flag{display: block;background-image: url("../img/ico/ico_sprite_flag.png");background-position: 0 0;height: 17px;width: 70px;}
.flag.missionS1{display: block;background-image: url("../img/ico/ico_sprite_flag.png");background-position:0px 51px; height: 17px;width: 70px;}
.flag.missionS2{display: block;background-image: url("../img/ico/ico_sprite_flag.png");background-position: 0 85px;height: 17px;width: 70px;}/*en cours*/
.flag.missionS3{display: block;background-image: url("../img/ico/ico_sprite_flag.png");background-position: 0 34px;height: 17px;width: 70px;}
.flag.missionS4{display: block;background-image: url("../img/ico/ico_sprite_flag.png");background-position: 0 17px;height: 17px;width: 70px;}
.flag.missionNEW{display: block;background-image: url("../img/ico/ico_sprite_flag.png");background-position: 0 0;height: 17px;width: 70px;}

/* -------------------------------------
--------------- MODALE ----------------
------------------------------------ */
.modalButton{ background: none repeat scroll 0 0 #00CCCC;
    border: 0 none;
    color: #FFFFFF;
    height: 35px;
    text-align: center;
    }


/*JE PENSE QUE  CETTE SOUS PARTIE  PEUT S'INTEGRER DANS UNE CSS SEPAREE QU'EN PENSE TU ? sebastien*/


/* -------------------------------------
--------------- FORM COMMUNS----------------
------------------------------------ */
.formModificationSelectDiv{
  border: 1px solid #d1d1d1;
  background: #ffffff;
  background-image: url('../img/formFlecheBas.png');
  background-repeat: no-repeat;
  background-position: right;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 28px;
  overflow: hidden;
  line-height: 35px;
  padding-right: 20px;
}

.formModificationSelectDiv{height: 30px;}

.formModificationSelect{
  padding-right:20px;
  -webkit-appearance: none;
  -moz-appearance: window;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}

.formModification{
  border: 1px solid #d1d1d1;
  margin-right: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: block !important;
}

.resultSearchNotFound{
    padding: 100px 0;
    text-align: center;
    font-size: 19px;
    height: 679px;
}

/* -------------------------------------
  --------------  FANCY CV ------------------
  ------------------------------------ */
.cvHeader{background-color:#333;padding:10px;}
.cv-entete{
    font-size: 16px;
}

.cvFormDescription{padding:10px; margin-top:10px;}

/* -------------------------------------
--------------- BORDER ----------------
------------------------------------ */
.border-1{border: 1px solid #D1D1D1}

/* -------------------------------------
--------------- PAGINATION ----------------
------------------------------------ */
.pagination a{color: #333;font-size: 14px;}
.pagination ul{
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    line-height: 0;
    vertical-align: middle;
}
.pagination ul > li > a,
.pagination ul > li > span{border:none !important;}

/* -------------------------------------
--------------- 404 ----------------
------------------------------------ */
#page404{  margin: auto;padding: 100px 0;width: 500px; }
#page404 h1{  font-size: 60px !important;font-weight: 100 !important; padding: 0; margin: 0;}
#page404 h2{   font-size: 250px !important;font-weight: 100 !important;padding: 0; margin: 0;}

/* -------------------------------------
  --------------  FILTRE ------------------
  ------------------------------------ */
#filter{  overflow: hidden;padding: 5px 0;position: relative;}
#filter .label-form{padding: 0 10px;}
.search .homeDroiteSearch{ background-image: url("../img/ico/ico_search.gif");background-position: 20px center;background-repeat: no-repeat;color: #C6C6C6;  font-size: 25px;font-weight: lighter;height: 80px;padding-left: 70px;text-transform: uppercase; line-height: 80px!important; }
#filter span{line-height: 35px;}
.formModificationSelectDiv{line-height: 15px\9; }
#filter .span3.last{padding-right:0!important;}
#filter .submit{position: absolute; top: 0; left:0;border-right: 1px solid #c0c0c0; }
#filter .border-right-1{border-right: 1px solid #c0c0c0; padding:0 10px;}
#filter .border-left-1{border-left: 1px solid #c0c0c0; padding: 5px 0;}
#filter  .checkbox{line-height: 35px!important;}
#filter  .checkbox input{margin-top: 10px;}
#filter .border-right-1.last{border-right: none!important; padding: 5px 0;}

label{line-height: 20px!important; line-height: 20px!important \9;}
.input-append{display: block !important;
    line-height: 0 !important;
    position: relative;}
.input-append .add-on{position: absolute; top: 0; right: 0;  z-index: 1000;}
.input-append .manual-insert{position: absolute; top: 0; right: 0; z-index: 1000; height: 33px; padding: 0; width: 30px; text-align: center; line-height: 35px; line-height: 20px \9;}
button.manual-insert{height: 35px!important; line-height: 0!important;}
.group-link{line-height: 20px; height: 28px; text-align: left;}
.group-link .btn-primary{height: 20px; line-height: 20px;}

.dropdownlang .dropdown-menu{min-width: 110px !important; margin-left: 50px;}
.dropdownlang .dropdown-menu li{padding: 0!important; margin: 0!important;}

table tr td  p{color:#333333 !important;}
table tr td a.linkCell {
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;
}

#infoCropAvatar{float: right; width: 210px;}

/* -------------------------------------
  --------------  ENTRETRIEN POP UP ------------
  ------------------------------------ */

#video_entretien {box-shadow: 0 0 6px #555 !important; -moz-box-shadow:0 0 6px #555 !important; -webkit-box-shadow: 0 0 6px #555 !important;border:none !important;}

/* -------------------------------------
  -------------- FOOTER ------------------
  ------------------------------------ */
.zonepartenaire{
  margin-top:40px;
  background-color:#dedede;
}

.zonefooter h2{line-height: 35px; margin: 0; margin-bottom: 10px; font-weight: lighter;}
.zonefooter img{margin-right:10px; }
.zonefooter ul{margin-left: 60px;}

.zonefooter{
  height:286px;
  background-color:#333333;
  color:#5d6974;
  margin-top:0px;
  padding-top: 20px;
}
.footerlogo{
 border-right: thin solid #666666;
    height: 90%;
    margin-right: 20px;
    padding: 0 !important;
}
.footerlist{
  padding-top:20px;
}
.footerlist > ul > li{
  list-style-image: url('../img/chevronGris.png');
  padding-top: 5px;
}
.footerlist > ul > li > a{
  color:#5d6974;
}
.footerlist > ul > li > a:hover{
  color: #00cccc;
}