<link href="../tools/jabber/css/mini.css" rel="stylesheet">
<link href="../tools/jabber/css/mini-ie7.css"rel="stylesheet">


<script type="text/javascript" language="javascript"  src="../tools/jabber/js/jxhr.js"></script>

<script type="text/javascript" language="javascript"  src="../tools/jabber/js/base64.js"></script>

<script type="text/javascript" language="javascript"  src="../tools/jabber/js/jsjac.js"></script>

<script type="text/javascript" language="javascript"  src="../tools/jabber/js/jquery.timers.js"></script>

<script type="text/javascript" language="javascript"  src="../tools/jabber/js/jquery.scrollto.js"></script>

<script type="text/javascript" language="javascript"  src="../tools/jabber/js/common.js"></script>

<script type="text/javascript" language="javascript"  src="../tools/jabber/js/constants.js"></script>

<script type="text/javascript" language="javascript"  src="../tools/jabber/js/date.js"></script>

<script type="text/javascript" language="javascript"  src="../tools/jabber/js/links.js"></script>


<script type="text/javascript" language="javascript"  src="../tools/jabber/js/mini.js"></script>