<div class="container">

    <div class="row-fluid bgWhite">
	
	<div class=" padding-10 ">
	    
	    <h1>{$trad->titreAbout}</h1>
	    
	    <div>
		
		{$trad->descriptionCorps}
		
	    </div>
	    
	</div>
	
    </div>
