<div class="container-fluid row-fluid corps">
    
    {include file='web/tpl/template/menu.tpl'}
    
    <div class="span10 homeDroite">
        
	<div class="search">
                             
	    <div class="row-fluid" id="filter">
		
		<div class="form-inline homeDroiteForm">
		    
		    <div class="border-right-1  pull-left margin-left-5 ">
			
			<a class="scroller" href="{getLink page='responses' params="id_mission="|cat:$mission->getId_mission() crypt=true}">
			    <button type="button" class="btn btn-secondary pull-left margin-right-5 ">
				<span class="icon-refresh icon-white "></span>
				Révenir aux réponses
			    </button>
			</a>
			
		    </div>
		    
		    
		    <div class="clearfix"></div>
		    
		</div>
		
	    </div>
		
        </div>
	
	<div class="span12 row-fluid">
	    <div class="span10">
		<div class="monCompteDroite">
		    
		    <h1>Annonce : {$mission->getTitre()}</h1>
		    <div class="span9">
			<p>{$mission->getDescription()}</p>
		    </div>
		    
		    <div class="span3 padding-left-20">
			<h2>Localité :</h2>
			<p class="span12">
			    {$mission->getLocalite()}
			</p>
			<h2>Tarif :</h2>
			<p class="span12">
			    {$mission->getTarif(true)}
			</p>
			<h2>Date :</h2>
			<p class="span12">
			    du {$mission->getDebut()} Au {$mission->getFin()}
			</p>
			{if $missionCompetences->count}
			<h2>Competences :</h2>
			<ul class="span12">
			   {foreach $missionCompetences->competences as $competence}
			    <li>{$competence->adm_competence}</li>
			   {/foreach}
			</ul>
			{/if}
			
			{if $missionLangues->count}
			<h2>Langues :</h2>
			<ul class="span12">
			   {foreach $missionLangues->langues as $langue}
			    <li>{$langue->adm_langue}</li>
			   {/foreach}
			</ul>
			{/if}
			
			{if $missionEtudes->count}
			<h2>Langues :</h2>
			<ul class="span12">
			   {foreach $missionEtudes->etudes as $etude}
			    <li>{$etude->adm_etude}</li>
			   {/foreach}
			</ul>
			{/if}
		    </div>
		    <div class="clearfix"></div>
		    
		</div>
	    
		<div class="monCompteDroite">
		    
		    <h1 class="">Réponse du prestataire</h1>
		    
		    <div class="span9">
			<div>{$reponse->getReponse()}</div>
			
			
			
		    </div>
		    
		    <div class="span3 padding-left-20">
			
			<h2>Votre contact direct:</h2>
			<p class="span12">
			    <b>Structure :</b> {$reponse->getStructure()->structure}
			    <br>
			    <b>Contact : </b>{$reponse->getNom()} {$reponse->getPrenom()}
			    <br>
			    <b>Email :</b> {$reponse->getEmail()}
			    {*Si je ne suis pas une agence notre contact direct est le freelance ou l'intermittent*}
			    {if $reponse->getStructure()->id_structure != 3}
				<br>
				<span class=""><a href="web/scripts/cv.php?page=cv&action=cv&id_prestataire_profil={$reponse->getId_profil()}&crypt={$crypt}">Telecharger en PDF</a></span>
				<a class="showCv" href="{getLink page='cv' action="cv" params="id_prestataire_profil="|cat:$reponse->getId_profil()}&crypt={$crypt}">Voir</a>
			    {/if}
			</p>
			
			{if $reponse->getStructure()->id_structure == 3}
			<h2>Les profil prosés:</h2>
			<ul>
			{foreach $profils as $profil}
			    <li>
				{$profil->getNom()} {$profil->getPrenom()}
				<br>
				<a href="web/scripts/cv.php?page=cv&action=cv&id_prestataire_profil={$profil->getId_profil()}&crypt={$crypt}">Telecharger en PDF</a>
				<a class="showCv" href="{getLink page='cv' action="cv" params="id_prestataire_profil="|cat:$profil->getId_profil()}&crypt={$crypt}">Voir</a>
			    </li>
			   
			{/foreach}
			</ul>
			{/if}
			<h2>Tarif :</h2>
			<p class="span12">
			    {$reponse->getTarif(true)}
			</p>
			
			{if $reponse->getCommentaire()}
			    <h2>Commentaire :</h2>
			    <p>
				{$reponse->getCommentaire()}
			    </p>
			{/if}
			
			{if $pj->getId_file()}
			    <h2>Piece Jointe :</h2>
			    <p>
				<a href="{$pj->getPath()}">
				    <button class="btn btn-primary " type="button">
					<span class="icon-pencil icon-white"></span>
					Voir la pièce jointe
				    </button>
				</a>
			    </p>
			{/if}
			
			{if $realisations->count>0}
			    <h2>Réalisation :</h2>
			    {foreach $realisations->files as $realisation}
				
				<a href="{$realisation->getPath(false)->server}{$realisation->getPath(false)->path}{$realisation->getPath(false)->reference}.{$realisation->getPath(false)->extension}">
				<img src="{$realisation->getThumbnail(50, 50)}" alt="pj" title="pj"></a>
				 
			    {/foreach}
			{/if}
		    
			
		    </div>
		    
		    <div class="clearfix"></div>
		    
		</div>
		
	    </div>		
	
	
	    <div class="span2 text-center">
		{foreach $getListStatutsReponses as $statut}
                    <div class="span12 padding-left-20">
                        
                        <div class="square red margin-bottom-5">
                            <p class="text padding-10">{$statut->adm_statut}</p>
                            <p>
                                <a href="{getLink page='responses' action="search" params="id_mission="|cat:$mission->getId_mission() crypt=true}&id_reponse_statut={$statut->id_reponse_statut}">
				    {$statistiquesReponses[$statut->id_reponse_statut]}
				</a>
                            </p>
                        </div>
                    </div>
		{/foreach}
	    </div>
	    
	    <div class="clearfix"></div>
	
	</div>
    </div>
</div>


